{% extends 'exam/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
     <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
a:link {
      text-decoration: none;
    }

</style>
</head>
<h2 style="text-align:center;">Thêm Bài Viết</h2>
<form method="POST" autocomplete="off"  enctype="multipart/form-data" style="margin:100px;margin-top: 0px;">
  {%csrf_token%}
  <div class="form-group">
    <label for="content_name">Tên bài viết</label>
    {% render_field contentForm.content_name class="form-control" placeholder="" %}
      {{ contentForm.content_name.errors }}

    <label for="description">Nội dung bài viết</label>
    {% render_field contentForm.description|attr:'required:true' class="form-control" placeholder="" %}
      {{ contentForm.description.errors }}

    <label for="content_image">Hình ảnh bài viết</label>
    {% render_field contentForm.content_image|attr:'required:true' class="form-control" %}
      {{ contentForm.content_image.errors }}
  </div>


  <button type="submit" class="btn btn-success" style="border-radius:0px;">Thêm bài viết</button>
</form>
<br><br><br>
{% endblock content %}